#theia-bottom-content-panel .p-TabBar[data-orientation='horizontal'].theia-app-bottom {
    background: var(--theia-editorGroupHeader-tabsBackground);
}

.p-TabBar-toolbar .item.arduino-tool-item {
    margin-left: 3px;
}

.p-TabBar-toolbar .item.arduino-tool-item .toggle-serial-monitor,
.p-TabBar-toolbar .item.arduino-tool-item .arduino-save-sketch--toolbar,
.p-TabBar-toolbar .item.arduino-tool-item .arduino-open-sketch--toolbar,
.p-TabBar-toolbar .item.arduino-tool-item .arduino-new-sketch--toolbar {
    border-radius: 1px;
}


.p-TabBar-toolbar .item.arduino-tool-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background: var(--theia-arduino-toolbar-button-background);
}

.p-TabBar-toolbar .item.arduino-tool-item.enabled:hover > div {
    background: var(--theia-arduino-toolbar-button-hoverBackground);
}

.arduino-verify-sketch--toolbar,
.arduino-upload-sketch--toolbar {
    border-radius: 12px;
}

.item.arduino-tool-item.toggled {
  background-color: unset;
  opacity: 1;
  border: none;
}

.item.arduino-tool-item.toggled .arduino-verify-sketch--toolbar {
  background-color: var(--theia-arduino-toolbar-toggleBackground) !important;
}

.arduino-tool-icon {
    height: 24px;
    width: 24px;
    background-color: var(--theia-titleBar-activeBackground);
    -webkit-mask: url(../icons/mask-buttons.svg);
    mask: url(../icons/mask-buttons.svg);
    -webkit-mask-size: 800%;
    mask-size: 800%;
}

.arduino-save-sketch--toolbar-icon {
    -webkit-mask-position: 59px -4px;
    mask-position: 59px -4px;
}

.arduino-verify-sketch--toolbar-icon {
    -webkit-mask-position: 188px -4px;
    mask-position: 188px -4px;
}

.arduino-upload-sketch--toolbar-icon {
    -webkit-mask-position: 156px -4px;
    mask-position: 156px -4px;
}

.arduino-new-sketch--toolbar-icon {
    -webkit-mask-position: 124px -4px;
    mask-position: 124px -4px;
}

.arduino-open-sketch--toolbar-icon {
    -webkit-mask-position: 92px -4px;
    mask-position: 92px -4px;
}

.toggle-serial-monitor-icon {
    -webkit-mask-position: 28px -4px;
    mask-position: 28px -4px;
}

.arduino-start-debug-icon {
    -webkit-mask: url('../icons/debug-dark.svg') 50%;
    mask: url('../icons/debug-dark.svg') 50%;
    -webkit-mask-size: 70%;
    mask-size: 70%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theia-ui-button-font-color);
}

.arduino-start-debug {
    border-radius: 12px;
}

#arduino-toolbar-container {
    display: flex;
    width: 100%;
}

.p-TabBar-toolbar.theia-arduino-toolbar {
    flex: 1;
    z-index: 0;
}

#theia-top-panel .p-TabBar-toolbar {
    padding-left: 4px !important; /* moves the `verify`, upload and other toolbar items to the left */
}

.p-Widget .p-MenuBar {
    padding-left: 1px !important; /* moves the menubar: `File`, `Edit`, etc to the left */
}

#theia-top-panel .p-TabBar-toolbar.theia-arduino-toolbar.right {
    justify-content: flex-start;
    min-width: 190px;
}

#theia-top-panel .p-TabBar-toolbar.theia-arduino-toolbar.left {
    min-width: 398px;
    justify-content: flex-end;
}

.arduino-toolbar-tooltip {
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: var(--theia-titleBar-activeForeground);
}

.p-TabBar-toolbar .item > div.arduino-toggle-advanced-mode {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.arduino-toggle-advanced-mode-icon {
    mask: none;
    -webkit-mask: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theia-titleBar-activeBackground);
}

.arduino-open-boards-control-icon {
    mask: none;
    -webkit-mask: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theia-titleBar-activeBackground);
}

.monaco-editor .margin {
    border-right: 2px solid var(--theia-sideBar-background);
    box-sizing: border-box;
}

.noWrapInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.theia-sidepanel-toolbar .theia-sidepanel-title {
    margin-left: 10px;
}

#arduino-open-sketch-control--toolbar--container {
    background-color: var(--theia-arduino-toolbar-button-background);
    border-radius: 1px;
}

#arduino-open-sketch-control--toolbar {
    height: unset;
    width: unset;
    line-height: unset;
    color: var(--theia-titleBar-activeBackground);
    padding: 5px 8px; /* based on pure heuristics */
}

/* Output */
.theia-output .editor-container {
    background-color: var(--theia-arduino-output-background);
}

.theia-output .monaco-editor .lines-content.monaco-editor-background {
    background-color: var(--theia-arduino-output-background);
}

.theia-output .monaco-editor .lines-content.monaco-editor-background .view-lines .view-line .mtk1:not(.theia-output-error):not(.theia-output-warning) {
    color: var(--theia-arduino-output-foreground);
}

.theia-output .monaco-editor .margin {
    border-right: none;
    background-color: var(--theia-arduino-output-background);
}
